<div class="index_wrapper">
 <div class="speakindex">
  <p class="speakindex_p">ニックネーム<%= speak.st_user.nickname %></p>
  <p class="speakindex_p">分野<br><%= speak.field %></p> 
  <p class="speakindex_p">題名<br><%= speak.subject %></p>
  <p class="speakindex_p">本文<br><%= speak.text %></p> 
   
 </div>
</div>

