<div class="contents-to-top">
  <div class="success">
    <h3>
      投稿が完了しました。<br>
    </h3>
    <a class="btn" href="/">トップへ戻る</a>
    <% unless @comment.save %> 
    <p>コメントは保存されませんでした。すべての項目を入力してください。</p>
    <% end %>
  </div>
</div>