<% @crossfollows.each do |crossfollow| %>
<table>
<tr>
  <td>  <%= StUser.find(crossfollow.followable_id).nickname %> </td>
  <td><%= link_to '詳細', st_user_path(StUser.find(crossfollow.followable_id)) %></td>
</tr>

</table>
<% end %>