* {
    box-sizing: border-box;
}

body,html {
  height: 100%;
  background-color: #EEEEEE;
}

body {
  padding-top: 20px;
}

h1,h2,h3,h4,h5,h6,body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 14px;
  color: #221f20;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

time{
  font-size: 11px;
  color: #808080;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}

.common_header {
    position: fixed;
    height: 50px;
    background: #221f20;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1999;
    width: auto;
    min-width: 800px;
    margin: auto;
    color: white;
}

.menu{
  position: absolute;
  top: 14px;
  left: 15px;
  width: 100px;
  
}
.search{
  position: absolute;
  width: 100px;
  top: 14px;
  left: 125px;
}

.header_title{
  width: 200px;
  margin: 0 auto;
  margin-top: 14px;
  font-size: 17px;
}

.right-box{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.header_mypage{
  float: left;
  width: 100px;
  margin-top: 14px;
}

.post{
  float: left;
  width: 80px;
  margin-top: 14px;
  color: white;
}

.header_link{
  float: left;
  width: 120px;
  margin-top: 14px;
  color: white;
}

.violation{
  float: left;
  width: 80px;
  margin-top: 14px;
  color: white;
}

.container {
  
  min-height: 800px;
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
}

.footer{
  text-align: center;
  color:#000000;
  margin: auto ;
}

.letslogin{
  width: 300px;
  margin: 0 auto;
  padding-top: 100px;
  line-height: 20px;
}

.login{
  font-size: 17px;
  color: #000077;
}

.logintag{
  line-height: 3;
  font-size: 17px;
  color: #000077;
}

.logintag:hover{
  opacity: 0.5;
}

.login_message{
  width: 200px;
  margin: 0 auto;
  padding-top: 40px;
  line-height: 2;
}

.index_wrapper{
  width: 80%;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 310px;
  min-height: 800px;
  overflow: hidden;
}

.speakindex{
  width: 310px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  background-color: white;
  margin-top: 20px;
  margin-left: 10px;
  height: 400px;
  float: left;
  overflow: hidden;
}

.speak-box{
  width: inherit;
  height: 240px;
  overflow: hidden;
  position: relative;
}

.myself-box{
  position: relative;
  
  height: 45px;
}

.speak-reply{
  width: 290px;
  height: 150px;
  overflow: hidden;
  font-size: 14px;
  color: #221f20;
  border-top: solid;
  border-color: #DDDDDD;
  border-width: 0.6px;
}

.trim-image-to-circle{
    position: absolute;
    top: 0;
    left: 0;
    width:  40px;       /* ※縦横を同値に */
    height: 40px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
    background-size: cover;
}

.followimage{
  width:  40px;       /* ※縦横を同値に */
    height: 40px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;
}

.speakindex_name{
  position: absolute;
  left: 65px;
  top: 5px;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.1;
  letter-spacing: 0.15em;
  font-size: 13px;
  color: #221f20;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}

.speakindex_p{
  line-height: 1.21;
  letter-spacing: 0.15em;
  width: 295px;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  overflow: hidden;
  
  font-size: 14px;
  color: #221f20;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}

.newspeak{
  width: 400px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.myspeak{
  position: fixed;
  width: 20%;
  background-color: white;
  top: 50px;
  left: 0;
  bottom: 0;
}

.main_contents{
  width: auto;
  height: auto;
}


.posting_user_info{
  margin: 0 auto;
  text-align: center;
  color:  #221f20;
  padding-top: 50px;
}

.posting_header{
  margin: 10px auto;
}

.user-page{
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.call-tex{
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.alert {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.image {
    width: 120px;
    height: 120px;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
  }

.tablef{
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.linkmoji{
  font-size: 9px;
  color: #000080;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  border: solid;
  border-color:#C0C0C0;
  border-width: 1px;
  border-radius: 5px;
}

.col-lg-12{
  margin: 0 auto;
  margin-top: 50px;
}

.iinebutton{
  height: 40px;
  width: 40px;
  border: none;
}

.buttonround{
  border: none;
}

.small-iinebutton{
  width: 20px;
  height: 20px;
  display: inline-block;
}