<%= form_for(current_st_user.following_relationships.build(following_id: @st_user.id)) do |f| %>
  <div><%= f.hidden_field :following_id %></div>
  <%= f.submit "フォロー", class: "btn-follow" %>
<% end %>