<% @st_user ||= current_st_user %>
<div class="stats">
  <a href="<%= following_st_user_path(@st_user) %>">
    <strong id="following" class="stat">
      <%= @st_user.followings.count %>
    </strong>
    人をフォロー中
  </a>
  <a href="<%= followers_st_user_path(@st_user) %>">
    <strong id="followers" class="stat">
      <%= @st_user.followers.count %>
    </strong>
    人のフォロワー
  </a>
</div>